h3{
    color:red
}
h3::first-letter{
    color:blue;
        /* semicolon is must */
    font: size 30px
}
h3::first-line{
    color:aqua;
    font: size 30px
}
h2::before{
    content:"Start😁";
    /* for emogis:windows + dot(.) */
    color: blue;
    background-color: aquamarine;
}
h2::after{
    content:"End😉";
    color:blue;
    background-color: aquamarine;
}
ol li::marker{
    color:red;
}
ul li::marker{
    color:brown;
}
p::selection{
    color:aqua;
    background-color:blueviolet;
     /* we have to select the portion */
} 